body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    text-align: center;
}
@media (min-width: 992px){
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6{
        width: 50%;
        float: left;
    }
    .except{
        width: 100%;
    }
}
@media (max-width: 767px) {
    .col-sm-12{
        width: 100%;
        float: left;
    }
}

.chiken, .beef, .sushi{
    position: absolute;
    border: 2px solid #000;
    text-align: center;
    margin: 0;
    padding: 3px;
    top: -2px;
    right: -2px;
    background-color: aquamarine;
    width: 80px;
    font-weight: bold;
}
.chiken{
    background-color: lightsalmon;
}
.beef{
    background-color: lightblue;
}
.sushi{
    background-color:cornflowerblue;
}
.content {
    clear: both;
    margin-top: 30px;
    padding: 10px;
}
.div-inside{
    position: relative;
    margin: 10px;
    background-color: #bfbfbf;
    box-sizing: border-box;
    border: 2px solid #000;
}