@media (min-width: 992px){
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}
@media (min-wdth: 768px) and (max-width: 991px){
    .col-md-6{
        width: 50%;
        float: left;
    }
}
@media (max-width: 767px) {
    .col-md-12{
        width: 100%;
        float: left;
    }
}